<div data-controller="manual-chat">
  <%# チャットボタン（右下固定） %>
  <button type="button"
          id="chat-toggle-btn"
          class="btn btn-primary rounded-circle position-fixed shadow chat-button"
          data-manual-chat-target="toggleBtn"
          data-action="click->manual-chat#open"
  >
    <i class="bi bi-chat-dots-fill" style="font-size: 24px;"></i>
  </button>

  <div id="chat-panel"
       class="position-fixed shadow-lg d-none chat-panel"
       data-manual-chat-target="panel">

    <%# ヘッダー %>
    <div class="d-flex justify-content-between align-items-center px-3 py-2 text-white chat-panel__header">
      <h6 class="mb-0 fw-bold">暗黙知チャットボット</h6>
      <button type="button"
              id="chat-close-btn"
              class="btn btn-link text-white p-0"
              data-action="click->manual-chat#close">
        <i class="bi bi-x-lg" style="font-size: 20px;"></i>
      </button>
    </div>

    <%# メッセージエリア %>
    <div id="chat-messages"
         class="bg-white p-3 chat-panel__messages" data-manual-chat-target="messages">

      <%# ボットメッセージ %>
      <%= render partial: "topics/manuals/chat/bot_message", locals: { message: '加ヒアリング対象とし、後工程に進めない場合の手戻りが減ります。' } %>

      <%# ユーザーメッセージ %>
      <%= render partial: "topics/manuals/chat/user_message", locals: { message: 'では追加ヒアリングすべき案件だと判定した場合、最初に確認する項目はどれが優先ですか？全部聞くと相手の負担も大きい気がしているためです。' } %>

      <%# ボットメッセージ %>
      <%= render partial: "topics/manuals/chat/bot_message", locals: { message: '優先順位は①金額規模、②具体的な利用場面、③時期です。金額規模が現実的でない場合リスクが高く、ここを押さえるだけで実態がほぼ見えます。利用場面と時期は、必要性の妥当性を確認するため次のステップとして整理するとスムーズです。' } %>

      <%# ユーザーメッセージ %>
      <%= render partial: "topics/manuals/chat/user_message", locals: { message: 'では追加ヒアリングすべき案件だと判定した場合、最初に確認する項目はどれが優先ですか？全部聞くと相手の負担も大きい気がしているためです。' } %>
    </div>

    <%# 入力エリア %>
    <div class="bg-white border-top p-2">
      <div class="input-group">
        <textarea type="text"
                  id="chat-input"
                  class="form-control form-control-sm border-0 chat-input"
                  placeholder="質問してみましょう" data-manual-chat-target="input"></textarea>
        <button type="button"
                id="chat-send-btn"
                class="btn btn-primary btn-sm px-3 chat-send-btn" data-action="click->manual-chat#send">
          <i class="bi bi-send-fill" style="font-size: 16px;"></i>
        </button>
      </div>
    </div>
  </div>
</div>
