<div class="text-center bg-warning py-3 d-flex justify-content-center footer">
  ©ten co., ltd

  <div class="footer-terms d-flex gap-3">
    <%#= link_to '利用規約', terms_path, target: "_blank", rel: "noopener" %> |
    <%#= link_to '個人情報保護方針', privacy_policies_path, target: "_blank", rel: "noopener" %>
  </div>

</div>
